In [17]:
!pip show mysql-connector-python

Name: mysql-connector-python
Version: 8.2.0
Summary: MySQL driver written in Python
Home-page: http://dev.mysql.com/doc/connector-python/en/index.html
Author: Oracle and/or its affiliates
Author-email:
License: GNU GPLv2 (with FOSS License Exception)
Location: C:\Users\chill\AppData\Local\Programs\Python\Python312\Lib\site-packages
Requires: protobuf
Required-by:

In [18]:
import mysql.connector as connector

In [19]:
connection=connector.connect(
                             user="admin1", # use your own
                             password="Jpapa#%076", # use your own
                            )

In [20]:
cursor = connection.cursor()

In [21]:
cursor.execute("use littlelemondb_fv")

In [22]:
cursor.execute("SHOW tables")
for table in cursor:
    print(table)

('bookings',)
('customer_details',)
('menu',)
('menu_items',)
('order_delivery_status',)
('orders',)
('ordersview',)
('staff_info',)

In [23]:
join_query = """ SELECT customer_details.FullName,
customer_details.Email,
orders.TotalCost
FROM customer_details
JOIN orders
ON customer_details.CustomerID = orders.CustomerID
WHERE orders.TotalCost > 60;
"""

In [24]:
cursor.execute(join_query)

In [25]:
results = cursor.fetchall()

In [26]:
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('FullName', 'Email', 'TotalCost')
('Morganne Brecknell', 'Morganne.Brecknell@gmail.com', Decimal('190.00'))
('Sabina Corneille', 'Sabina.Corneille@gmail.com', Decimal('320.00'))
('Marillin Dennehy', 'Marillin.Dennehy@gmail.com', Decimal('93.13'))
('Ximenes Carnachen', 'Ximenes.Carnachen@gmail.com', Decimal('190.00'))
('Klement Brothwell', 'Klement.Brothwell@gmail.com', Decimal('225.00'))
('Sherye Christmas', 'Sherye.Christmas@gmail.com', Decimal('144.09'))
('Lowrance Kleinmintz', 'Lowrance.Kleinmintz@gmail.com', Decimal('168.27'))

In [27]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.